start_date: 2023-06-01T00:00:00
end_date: 2023-06-01T06:00:00

checkpoints: 
  forecaster:
    #checkpoint_path: /leonardo_work/AIFAC_5C0_154/abakketu/decoder_output/checkpoint/12d3944e-8f7b-49bd-b407-fe26f98578be/inference-last.ckpt
    checkpoint_path: /leonardo_work/AIFAC_5C0_154/abakketu/decoder_output/checkpoint/3e8f9f02-3ffc-4dd3-bd89-0909d7858118/inference-last.ckpt
    leadtimes: 3

frequency: 6h

system:
  input:
    datasets: /leonardo_work/AIFAC_5C0_154/weathergen/data/
    dataset_meps: aifs-meps-2.5km-2020-2025-6h-v7.zarr
    dataset_meps_topo: meps-2p5km-2020-2027-1y-topo-v3.zarr
    dataset_era_atm: aifs-od-an-oper-0001-mars-n320-2016-2025-6h-v1-for-single-v2.zarr
    dataset_era_sfc: aifs-ea-an-oper-0001-mars-n320-1979-2023-6h-v1-land.zarr

output: /leonardo_work/AIFAC_5C0_154/abakketu/decoder_output/inference_multiple_datasets/
workdir: /leonardo_work/AIFAC_5C0_154/abakketu/decoder_output/inference_multiple_datasets/workdir/

hardware:
  num_gpus_per_node: 4
  num_gpus_per_model: 2
  num_nodes: 1
  num_members: 2 # Number of ensemble members

# If the user wants to release GPU cache and memory
# This option releases unused cached/memory used by torch
release_cache: False

datasets:
  era_meps_sg: 
    dataset:
      cutout:
      - dataset: ${system.input.datasets}${system.input.dataset_meps}
        trim_edge: 50
        reorder: sort
      - join:
        - dataset: ${system.input.datasets}${system.input.dataset_era_atm}
        - dataset: ${system.input.datasets}${system.input.dataset_era_sfc}
        adjust: ["start", "end"]
        reorder: sort
      min_distance_km: 0
      adjust: all
    select: ${selected_vars}
    reorder: sort


  sdec: 
    dataset:
      join:
      - dataset: ${system.input.datasets}${system.input.dataset_meps}
        trim_edge: 200
        select: ${obs_meps_vars}
      - dataset: ${system.input.datasets}${system.input.dataset_meps_topo}
        interpolate_frequency: 6h
        trim_edge: 200
        select: ${topo_vars}
      adjust: ["start", "end"]
      reorder: sort
    
selected_vars: ['10u', '10v', '2d', '2t', 'cos_julian_day', 'cos_latitude', 'cos_local_time', 'cos_longitude', 'hcc', 'insolation', 'lcc', 'lsm', 'mcc', 'msl', 'q_100', 'q_1000', 'q_150', 'q_200', 'q_250', 'q_300', 'q_400', 'q_50', 'q_500', 'q_700', 'q_850', 'q_925', 'sin_julian_day', 'sin_latitude', 'sin_local_time', 'sin_longitude', 'skt', 'sp', 'ssrd', 'strd', 't_100', 't_1000', 't_150', 't_200', 't_250', 't_300', 't_400', 't_50', 't_500', 't_700', 't_850', 't_925', 'tcc', 'tcw', 'tp', 'u_100', 'u_1000', 'u_150', 'u_200', 'u_250', 'u_300', 'u_400', 'u_50', 'u_500', 'u_700', 'u_850', 'u_925', 'v_100', 'v_1000', 'v_150', 'v_200', 'v_250', 'v_300', 'v_400', 'v_50', 'v_500', 'v_700', 'v_850', 'v_925', 'w_100', 'w_1000', 'w_150', 'w_200', 'w_250', 'w_300', 'w_400', 'w_50', 'w_500', 'w_700', 'w_850', 'w_925', 'z', 'z_100', 'z_1000', 'z_150', 'z_200', 'z_250', 'z_300', 'z_400', 'z_50', 'z_500', 'z_700', 'z_850', 'z_925']

dataloader:
  datamodule:
    _target_: bris.data.dataset.NativeGridDataset
    _convert_: all

model:
  _target_: bris.model.BrisPredictor
  _convert_: all
  shuffle_var: 
    sdec: null


routing:
  - decoder_name: era_meps_sg
    domain_index: 0
    outputs:
      - netcdf:
          filename_pattern: ${output}/pred_sg_%Y-%m-%dT%H.nc
          variables: [2t, msl, tp]
          extra_variables: [ws]
          domain_name: meps
          
  - decoder_name: sdec
    domain_index: 0
    outputs:
      - netcdf:
          filename_pattern: ${output}/pred_sdec_%Y-%m-%dT%H.nc
          variables: [2t, tp]
          extra_variables: [ws]
          domain_name: meps
          forcings:
          - "lsm"


obs_forcing_vars:
- lsm
- z
- cos_julian_day
- cos_latitude
- cos_local_time
- cos_longitude
- insolation
- sin_julian_day
- sin_latitude
- sin_local_time
- sin_longitude
- FOREST
- H_TREE
- SFX.AVG_ZS
- SFX.CLAY
- SFX.COVER006
- SFX.FRAC_NATURE
- SFX.FRAC_NATURE_TPI_12500M
- SFX.FRAC_SEA
- SFX.FRAC_TOWN
- SFX.FRAC_WATER
- SFX.MAX_ZS
- SFX.MIN_ZS
- SFX.SAND
- SFX.SIL_ZS
- SFX.SSO_ANIS
#- SFX.SSO_DIR
#- SFX.SSO_SLOPE
- SFX.SSO_STDEV
#- SFX.Z0
#- SFX.Z0H
#- SFX.ZS
#- SFX.ZS_ASPECT_12500M_SIGRATIO1
#- SFX.ZS_ASPECT_17500M_SIGRATIO1
#- SFX.ZS_ASPECT_75000M_SIGRATIO1
#- SFX.ZS_SLOPE_12500M_SIGRATIO1
#- SFX.ZS_SLOPE_17500M_SIGRATIO1
#- SFX.ZS_SLOPE_75000M_SIGRATIO1
- SFX.ZS_SN_DERIVATIVE_12500M_SIGRATIO1
#- SFX.ZS_SN_DERIVATIVE_17500M_SIGRATIO1
#- SFX.ZS_SN_DERIVATIVE_75000M_SIGRATIO1
#- SFX.ZS_STD_12500M
- SFX.ZS_STD_17500M
#- SFX.ZS_STD_75000M
- SFX.ZS_SX_RADIUS12500_AZIMUTH180
- SFX.ZS_TPI_12500M
#- SFX.ZS_VALLEY_DIR_12500M
#- SFX.ZS_VALLEY_DIR_17500M
#- SFX.ZS_VALLEY_DIR_75000M
- SFX.ZS_VALLEY_NORM_12500M_x
- SFX.ZS_VALLEY_NORM_12500M_y
#- SFX.ZS_VALLEY_NORM_12500M
#- SFX.ZS_VALLEY_NORM_17500M_y
#- SFX.ZS_VALLEY_NORM_75000M_y
#- SFX.ZS_VALLEY_NORM_17500M_x
#- SFX.ZS_VALLEY_NORM_75000M_x
- SFX.ZS_WE_DERIVATIVE_12500M_SIGRATIO1
#- SFX.ZS_WE_DERIVATIVE_17500M_SIGRATIO1
#- SFX.ZS_WE_DERIVATIVE_75000M_SIGRATIO1
- subgrid_slope_x
- subgrid_slope_y

obs_meps_vars:
- 2t
- tp
- 10u
- 10v
- lsm
- z
- cos_julian_day
- cos_latitude
- cos_local_time
- cos_longitude
- insolation
- sin_julian_day
- sin_latitude
- sin_local_time
- sin_longitude

topo_vars:
- FOREST
- H_TREE
- SFX.AVG_ZS
- SFX.CLAY
- SFX.COVER006
- SFX.FRAC_NATURE
- SFX.FRAC_NATURE_TPI_12500M
- SFX.FRAC_SEA
- SFX.FRAC_TOWN
- SFX.FRAC_WATER
- SFX.MAX_ZS
- SFX.MIN_ZS
- SFX.SAND
- SFX.SIL_ZS
- SFX.SSO_ANIS
#- SFX.SSO_DIR
#- SFX.SSO_SLOPE
- SFX.SSO_STDEV
#- SFX.Z0
#- SFX.Z0H
#- SFX.ZS
#- SFX.ZS_ASPECT_12500M_SIGRATIO1
#- SFX.ZS_ASPECT_17500M_SIGRATIO1
#- SFX.ZS_ASPECT_75000M_SIGRATIO1
#- SFX.ZS_SLOPE_12500M_SIGRATIO1
#- SFX.ZS_SLOPE_17500M_SIGRATIO1
#- SFX.ZS_SLOPE_75000M_SIGRATIO1
- SFX.ZS_SN_DERIVATIVE_12500M_SIGRATIO1
#- SFX.ZS_SN_DERIVATIVE_17500M_SIGRATIO1
#- SFX.ZS_SN_DERIVATIVE_75000M_SIGRATIO1
#- SFX.ZS_STD_12500M
- SFX.ZS_STD_17500M
#- SFX.ZS_STD_75000M
- SFX.ZS_SX_RADIUS12500_AZIMUTH180
- SFX.ZS_TPI_12500M
#- SFX.ZS_VALLEY_DIR_12500M
#- SFX.ZS_VALLEY_DIR_17500M
#- SFX.ZS_VALLEY_DIR_75000M
- SFX.ZS_VALLEY_NORM_12500M_x
- SFX.ZS_VALLEY_NORM_12500M_y
#- SFX.ZS_VALLEY_NORM_12500M
#- SFX.ZS_VALLEY_NORM_17500M_y
#- SFX.ZS_VALLEY_NORM_75000M_y
#- SFX.ZS_VALLEY_NORM_17500M_x
#- SFX.ZS_VALLEY_NORM_75000M_x
- SFX.ZS_WE_DERIVATIVE_12500M_SIGRATIO1
#- SFX.ZS_WE_DERIVATIVE_17500M_SIGRATIO1
#- SFX.ZS_WE_DERIVATIVE_75000M_SIGRATIO1
- subgrid_slope_x
- subgrid_slope_y
